:root {}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

li {
  margin-left: 14px;
}

ul li::marker {
  color: gray;
}

section {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 15px;
}

button {
  padding: 5px 10px;
}

p {
  margin-bottom: 16px;
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.left {
  flex: 0 1;
  flex-grow: 1;
}

.right {
  width: 300px;
}

.img.avatar {
  display: flex;
  height: 75px;
  width: 65px;
  border: 1px solid gray;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.img.big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 387px;
  gap: 10px;
}

.big {
  height: 380px;
}

.small {
  height: 60px;
}

.bold {
  font-weight: bold;
}

.adblock {
  border: 1px black solid;
  border-radius: 15px;
  max-width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.no-flex {
  display: inline-block;
  height: 75px;
  border: 1px black solid;
  border-radius: 4px;
  padding: 10px;
  width: 60px;
  margin-right: 10px;
}
